
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ <a href="http://linktree.com/lukasnachtigall>" target="_blank">Lukas Nachtigall</a>, a Full-Stack Dev.
      Tech used: CSS3, HTML5, Vanilla JavaScript, EJS, Heroku Atlas, MongoDB Cloud.
    </p>
  </div>
</div>
</body>
</html>
