<%- include('./partials/header') -%>
<h2>Compose a new post</h2>
<div class="form-group">
<form class="" action="/compose" method="post">
<label>Title</label>
  <input class="form-control" type="text" name="postTitle" value="" autofocus>
  <label>Post</label>
  <textarea class="form-control" rows="8" cols="80" class="inputForm" type="text" name="postBody" value=""></textarea>
</div>
<button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%- include('./partials/footer') -%>
